@import "tailwindcss";

/* Apply `mx-auto` to all containers */
.container {
  margin-left: auto;
  margin-right: auto;
}

/* Apply padding to all containers */
.container {
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

/* Apply padding to small containers */
.container.sm {
  padding-left: var(--container-padding-sm);
  padding-right: var(--container-padding-sm);
}

/* Apply padding to large containers */
.container.lg {
  padding-left: var(--container-padding-lg);
  padding-right: var(--container-padding-lg);
}

/* Apply padding to extra-large containers */
.container.xl {
  padding-left: var(--container-padding-xl);
  padding-right: var(--container-padding-xl);
}

/* Apply padding to 2 extra-large containers */
.container.xxlarge {
  padding-left: var(--container-padding-2xl);
  padding-right: var(--container-padding-2xl);
}

html.dark {
  background-color: #0b0f19; /* Dark background */
  color: white; /* Light text */
}
